@charset "utf-8";

:root {
    --crema: #f6f4e7;
    --celeste: #88BDF6;
    --naranja: #FF6D1F;
    --salmon: #FFA684;
    --azul: #172C43;
}

* {
    font-family: "Instrument Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--azul);
    list-style: none;
    box-sizing: border-box;
}

header {
    background-color: var(--salmon);
    height: 77px;
}

.isotipo {
    background-image: url(imagenes/iconos/icono.png);
    width: 37px;
    height: 33px;
}

.isotipo:hover {
    background-image: url(imagenes/iconos/icono-naranja.png);
    width: 37px;
    height: 33px;
}

nav {
    display: flex;
    gap: 25px;
}

body {
    background-color: var(--crema);
    min-height: 100vh;
}

#main-nosotros,
#main-adopta {
    padding-bottom: 80px;
}

.bordefotos {
    border-radius: 50px;
}


footer {
    background-color: var(--salmon);
    display: flex;
    justify-content: center;
    gap: 90px;
    padding: 60px 20px;
    align-items: center;
}

.contacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer li {
    display: flex;
    gap: 10px;
}

footer a {
    text-decoration: none;
}

#footer-index {
    background-color: var(--salmon);
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    align-items: center;
}

#contacto-index {
    display: flex;
    gap: 30px;
}

/*a del footer*/

.instagram {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.instagram img {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
}

.facebook {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
}

.facebook img {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
}

.mail {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 23px;
}

.mail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 23px;
}

.whatsapp {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
}

.whatsapp img {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
}

.youtube {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 23px;
}

.youtube img {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 23px;
}

.hover {
    display: none;
}

.instagram:hover .normal,
.facebook:hover .normal,
.mail:hover .normal,
.whatsapp:hover .normal,
.youtube:hover .normal {
    display: none;
}

.instagram:hover .hover,
.facebook:hover .hover,
.mail:hover .hover,
.whatsapp:hover .hover,
.youtube:hover .hover {
    display: block;
}

/*tipografías*/

h1,
h2,
h3 {
    font-family: "Fredoka", sans-serif;
}

h1 {
    font-size: 55px;
    line-height: 58px;
    color: var(--celeste);
}

h2 {
    font-weight: 500;
    font-size: 45px;
    color: var(--celeste);
}

h3 {
    font-weight: 600;
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

p {
    line-height: 28px;
    text-align: left;
    max-width: 580px;
}

/*INDEX HTML*/

#mainindex {
    margin: 0;
    background-color: var(--salmon);
}

.fijo{
    background-color: var(--celeste);
    position: fixed;
    top: 45%;
    left:0%;
    padding: 20px 25px 20px 10px;
    border-radius: 0 50px 50px 0;
}

.fijo-ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*NOSOTROS HTML*/

#main-nosotros {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 55px 0 0;
}

#sobre-nosotros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

#patitanosotros {
padding: 0 10px 0 0;
}

.trama {
    background-image: url(imagenes/iconos/trama.png);
    background-repeat: repeat;
    width: 100%;
    height: 90px;
}

#mision-equipo-nosotros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 180px;
}

#mision-equipo-nosotros article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mision-equipo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mision-equipo ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mision-equipo li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#galeria-nosotros {
    margin: 0;
    max-width: 510px;
}

/*ADOPTA HTML*/

#main-adopta {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: #FF6D1F;
    font-weight: 700;
}

.historiasinter {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px;
    gap: 30px;
}

.adoptar {
    display: flex;
    flex-direction: row;
    gap: 48px;
    background-image: url(imagenes/iconos/forma.png);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    margin: 60px 0 0 0;
}

#patitaadopta {
    align-self: flex-start;

}

.texto {
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.agranda {
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: center;
}

.prueba {
    display: flex;
    flex-direction: column;
    gap: 74px;
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 62px;
}

.boton {
    width: 420px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--crema);
    background-color: var(--naranja);
    border-radius: 50px;
    padding: 17px;
}

.texto2 {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modal:target {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido {
    position: relative;
    background-image: url(imagenes/iconos/trama-popup.jpeg);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.historias {
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: center;
}

/*DENUNCIA HTML*/

#maincontacto {
    background-color: var(--crema);
    display: flex;
    flex-direction: row;
    gap: 250px;
    justify-content: center;
    margin: 45px;
    flex-wrap: wrap;
}

.huella {
    display: flex;
    gap: 20px;
}

.denunciaimg {
    display: flex;
    flex-direction: column;
    gap: 115px;
    justify-content: space-between;
    padding: 20px 20px 20px 100px;
    position: relative;
}

.denunciatexto {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.nombre-fecha-telefono {
    display: flex;
    flex-direction: column;
    gap: 30px;

    div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.checkbox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@keyframes cambiar {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.fotosdenuncia {
    display: flex;
    flex-direction: column;
    width: 570px;
    gap: 20px;
}

.animacion-fade {
    animation-name: cambiar;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-checkbox {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: space-between;
}

.mensaje {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 575px;
}

.denuncia {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#patitadenuncia {
    position: absolute;
    top: 20px;
    left: 0px;
}

@media screen and (max-width: 500px) {

    footer {
        li {
            a {
                display: none;
            }
        }

        gap: 40px;
    }

h1 {
    font-size: 50px;
}

h2 {
        font-size: 38px;
    }

.contenedor {
        padding: 20px 15px;
    }

    .contacto {
        flex-direction: row;
        gap: 40px;
    }

    /*nosotros.html_media500px*/

#mision-equipo-nosotros article {
    gap: 40px;
}

    #patitanosotros {
        display: none;
    }

    #sobre-nosotros {
        margin: 0px 35px 25px 40px;
    }

    #mision-equipo-nosotros {
        margin: 0px 35px 25px 40px;
    }

    #main-nosotros {
        gap: 40px;
    }

    /*denuncia.html_media500px*/

    

    #contacto-index {
        gap: 60px;
    }

    #perroadopcion {
        content: url('imagenes/img/mobile_index_slide1.jpg');
    }

    #maincontacto {
        display: flex;
        flex-direction: column;
        margin: 10px 25px 25px 10px;
        gap: 20px;
    }

    .formulario {
        display: flex;
        flex-direction: column;
    }

    .info-checkbox {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .nombre-fecha-telefono {
        gap: 20px;
    }

    #patitadenuncia {
        display: none;
    }

    .denunciaimg {
        padding: 20px 25px;
        gap: 55px;
    }

    textarea {
        height: 100px;
        width: 400px;
    }

    .nombre-fecha-telefono {
        input {
            width: 400px;
        }
    }

    .fotosdenuncia {
        width: 100%;
    }

    /*trabajos.html_media500px*/
}