@charset "utf-8";

@font-face {
    font-family: "fredoka-bold";
    src: url(fuentes/Fredoka-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "fredoka-semibold";
    src: url(fuentes/Fredoka-SemiBold.ttf) format(truetype);
    font-weight: bo;
    font-style: normal;
}

@font-face {
    font-family: "fredoka-medium";
    src: url(fuentes/Fredoka-Medium.ttf) format(truetype);
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "instrument-semibold";
    src: url(fuentes/InstrumentSans-SemiBold.ttf) format(truetype);
    font-weight: ;
    font-style: normal;
}

@font-face {
    font-family: "instrument-regular";
    src: url(fuentes/InstrumentSans-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --crema: #f6f4e7;
    --celeste: #88BDF6;
    --naranja: #FF6D1F;
    --salmon: #FFA684;
    --azul: #172C43;
}

h1 {
    font-family: "fredoka-bold", sans-serif;
    font-size: 55px;
}

h2 {
    font-family: "fredoka-medium", sans-serif;
    font-size: 45px;
}

h3 {
    font-family: "instrument-semibold", sans-serif;
    font-size: 26px;
}

h4{
    font-family: "instrument-regular", sans-serif;
    font-size: 20px;
}

p {
    font-family: "instrument-regular";
    font-size: 16px;
}