@charset "utf-8";

:root {
    --crema: #f6f4e7;
    --celeste: #88BDF6;
    --naranja: #FF6D1F;
    --salmon: #FFA684;
    --azul: #172C43;
}

* {
    font-family: "Instrument Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--azul);
    list-style: none;
    box-sizing: border-box;
}

header {
    background-color: var(--salmon);
    height: 77px;
}

nav {
    display: flex;
    gap: 25px;
}

body {
    background-color: var(--crema);
}

/*tipografías*/

h1, h2, h3 {
    font-family: "Fredoka", sans-serif;
}

h1 {
    font-size: 55px;
    line-height: 58px;
    color: var(--celeste);
}

h2 {
    font-weight: 500;
    font-size: 45px;
}

h3 {
    font-weight: 600;
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

p {
    line-height: 28px;
    text-align: left;
    margin-top: 0px;
    max-width: 580px;
}

/*ADOPTA HTML*/

body {
    background-color: var(--celeste);
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: #FF6D1F;
    font-weight: 700;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.adoptar {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.adopta {
    background-image: url(imagenes/forma.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.agranda {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.prueba {
    display: flex;
    flex-direction: column;
    gap: 74px;
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 62px;
}

.boton {
    width: 420px;
    height: 35px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--crema);
    background-color: var(--naranja);
    border-radius: 50px;
    padding: 17px;
}

.boton2 {
    width: 420px;
    height: 35px;
    font-size: 26px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--crema);
    background-color: var(--naranja);
    border-radius: 50px;
    padding: 17px;
}

.texto2 {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.historias {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

ul {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: var(--salmon);
    height: 192px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*denuncia*/

#maincontacto {
    background-color: var(--crema);
}

.denunciaimg {
    display: flex;
    flex-direction: row;
    gap: 55px;
    align-items: center;
    padding: 20px;
    align-items: flex-start;
}

.denunciatexto {
    display: flex;
    flex-direction: column;
    gap: 24px;
}





